<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Kedves <%= @comp_application.user.name %>!</h3>
<p>
  Problémát találtunk a <%= @comp_application.competition.convention.name %> rendezvényen megrendezett <%= @comp_application.competition.name %> versenyre beadott jelentkezéseddel.
</p>
<p>
  <%= @comp_application.admin_msg %>
</p>
<p>
  Üdvözlettel,<br>
  A Szervezők
</p>
</body>
</html>








