<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Kedves <%= @subscription_user.user.name %>!</h3>
<p>
  Az eddigi Mondo magazin előfizetésed sajnos lejárt. 
</p>
<p>
  Amennyiben tetszik a magazin, az előfizetést megújíthatod weboldalunkon, az alábbi címen:<br>
  <a href=" https://tickets.mondocon.hu/mondo">https://tickets.mondocon.hu/mondo</a>.
</p>
<p>
  Köszönjük szépen, reméljük még sokáig olvasónk maradsz!
</p>
<p>
  Üdvözlettel,<br>
  Mondo Magazin
</p>
</body>
</html>








