<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" lang="en" translate="no">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- NO JS in my case -->
  <%#= javascript_include_tag 'user' %>

  <script src="https://developers.mypos.com/repository/mypos-embedded-sdk.js" type="text/javascript"></script>

</head>
<body>
  <p>TESTO</p>

  <%= yield %>

</body>
