<% provide(:title, t('title.help')) %>


<h1>Help</h1>

<h2>MondoCon event</h2>
<p>You can find all the relevant details about the convention at our
  <%= link_to 'main site', "http://www.mondocon.hu/eng", :target => '_blank' %>
  .</p>

<h2>Buying tickets</h2>
<p>
  ...
</p>
