<% provide(:title, t('title.help')) %>


<h1>Help</h1>

<h2>MondoCon event</h2>
<p>You can find all the relevant details about the convention at our
  <%= link_to 'main site', "http://www.mondocon.hu/eng", :target => '_blank' %>
  .</p>

<h2>Tickets</h2>
<p>You can find detailed informations about the terms and conditions of buying and using tickets for the MondoCon event
  <%= link_to 'here', "http://www.mondocon.hu/jegyvasarlas/", :target => '_blank' %>
  (the link is in Hungarian)
</p>

<h2>Privacy Policy</h2>
<p>
  This is an app for purchasing tickets to the MondoCon event. For this, we have to store your user name, your email, and the details of the money transfer you do to buy your ticket.
  We will send emails regarding the processes you initiated.
  We do not use these data for any other purpose, and we do not give them to third parties.
</p>
<p>
  You can contact the Data Privacy Officer at info@mondocon.hu. For example, you can request that we delete your data.
</p>
<p>
  Please understand that the competitions at MondoCon are public events.
  Any data relating these do not fall under privacy policy regulations. These include: the list of competitors, submitted pictures, photos of the competition, the rankings achieved, etc.
</p>


<h2>Impressum</h2>
<p>
  MangaFan Kiadói Kft.<br>
  Hungary, 2310 Szigetszentmiklós, Széna u. 16<br>
  Tax no.: 13540960213<br>
  Company registration no.: 1309104275<br>
</p>