<% provide(:title, t('title.help')) %>

<h1>Súgó</h1>

<h2>MondoCon rendezvény</h2>
<p>A rendezvényről a
  <%= link_to 'főoldalon', "http://www.mondocon.hu", :target => '_blank' %>
  találsz részletes információkat.</p>

<h2>Adatvédelmi szabályzat</h2>
<p>
  A regisztrációs rendszer funkciója, hogy a MondoCon rendezvényre jegyet tudjon a felhasználó vásárolni.
  Ehhez szükséges a felhasználó nevét, email címét és jegyvásárlás esetén a banki átutalás adatait tárolnunk.
  A felhasználónak az általa kezdeményezett folyamattal kapcsolatos emaileket küldünk
  Ezeket az adatokat másra nem használjuk, harmadik félnek nem adjuk tovább.
</p>
<p>
  Ha kapcsolatba akarsz lépni a MondoCon adatvédelmi biztosával, akkor az info@mondocon.hu email címre írj. Itt tudod adataid törlését is kérni.
</p>
<p>
  Felhívjuk a felhasználók figyelmét arra, hogy a MondoCon versenyei publikus események.
  Az ezekkel kapcsolatos adatok, mint például a résztvevők listája, a beküldött pályaművek, versenyzőkről készült fotók, az elért helyezések nyilvánosak és nem képezik adatvédelmi szabályozások tárgyát.
</p>
