<% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        <%= t('user.signup_failed') %>.
      </div>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
