// Place all the styles related to the TicketOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-xlarge {
  padding: 32px 28px;
  font-size: 38px;
  line-height: normal;
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
      border-radius: 8px;
}