<p>Kedves <%= @resource.respond_to?(:name) ? @resource.name : @resource.email %>!</p>

<p>Ez egy értesítés arról, hogy a MondoCon fiókod jelszava meg lett változtatva.</p>

<p>Ne válaszolj erre a levélre</p>
