<p>Hello <%= @resource.respond_to?(:name) ? @resource.name : @resource.email %>!</p>

<p>We're contacting you to notify you that your password at MondoCon has been changed.</p>

<p>Do not reply to this email</p>
