<p>Kedves <%= @resource.respond_to?(:name) ? @resource.name : @resource.email %>!</p>

<p>A MondoCon regisztrációs oldalhoz az alábbi linken keresztül állíthatod be az új jelszavadat:</p>

<p><%= link_to 'Jelszó megváltoztatása', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Amennyiben nem igényeltél új jelszót, kérjük tekints el ettől az emailtől.</p>
<p>A jelszavad a régi marad, amíg az alábbi linken újat nem állítasz be.</p>

<p>Ne válaszolj erre a levélre</p>

