<% if current_user.is_vendor? %>
  <div class="col-lg-6">
    <div class="padded well">
      <h1 class="center"><%= t('title.booth') %></h1>
      <%= link_to t('booth.book'), new_booth_path %>


    </div>
  </div>
<% end %>
