<div class="container">
  <div class="row">

    <%= render partial: 'your_tickets' %>

    <%= render partial: 'current_sales' %>

    <%= render partial: 'your_competitions' %>

  </div>



</div>


